@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

.mini_calendar
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 400px;
    height: 90px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.25);
}

.header
{
  padding-top: 10px;
  color: #7C7A7A;
  font-size: calc(0.75vw + 0.25vh + 8px);
  font-family: 'Lato';
  text-align: center;
  word-spacing: calc(0.75vw + 0.25vh + 10px);
  width: 400px;
  height: 40px;
}

.this_week
{
    width: 400px;
    height: 40px;
    color:black;
    font-size : calc(0.75vw + 0.25vh + 5px);
    text-align: center;
    font-family: 'Lato';
    word-spacing: calc(0.75vw + 0.25vh + 5px);
}

.today
{
    color:#1294F2;
}