.Login_page-containter{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: repeat(6, 0.1fr);
  align-items: center;
  justify-items: start;
  padding: 15% 80% 10% 8%;
}

.sub-title{
  grid-row: 1/2;
  color: #7B7B7B;
  font-size: 25px;
}

.title{
  grid-row: 2/3;
  font-weight:bolder;
  font-size: 55px;
}

input{
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  border: 1.5px solid #18A0FB;
}

.ID{
  grid-row: 3/4;
}

.Password{
  grid-row: 4/5;
}

.Line{
  width: 100%;
  margin: 0.75rem 0;
  grid-row: 5/6;
  border-top: 1px solid #b6b6b6;
}

.next-button{
  grid-row: 3/5;
  grid-column: 2/3;
  border: 1px solid #18A0FB;
  border-radius: 6px;
  text-align: center;
  margin: 1rem;
  width: 1.5em;
}

.next-button:hover{
  cursor: pointer;
  background-color: #18A0FB;
  color: white;
}

.register{
  grid-row: 6/7;
  color: #8b8b8b;
  font-size: 0.95rem;
}

.register-button{
  margin-left: 0.5rem;
  font-weight: 800;
  color: #8b8b8b;
  text-decoration: none;
}

.register-button:hover{
  cursor: pointer;
}