.Register_page-containter{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 0.1fr);
    align-items: center;
    justify-items: start;
    padding: 7% 80% 5% 6%;
    gap : 10px;
  }

.regi_title{
    grid-row:1/2;
    grid-column: 1/2;
    font-weight:bolder;
    font-size: 55px;
}

.previous_button{
    grid-row:1/2;
    grid-column: 2/3;
    margin: 0.5rem 0 0 1rem;
    border: 1px solid #18A0FB;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    width: 1.7em;
    height: 1.7em;
    line-height: 1.7em;
    
}

.previous_button:hover{
    cursor: pointer;
    background-color: #18A0FB;
    color: white;
  }

.regi_form
{
    display: block;
    grid-column: 1/3;
    grid-row : 2/3;
    width: 400px;
    height: 570px;
    margin: 2rem 0 0 0;
    border: 1px solid #E6E6E6;
    text-align: center;
    border-radius: 6px;
}

.regi_ID
{
  margin:4rem 0 1.5rem 0;
  width:300px;
  height:40px;
  font-size: 1.2rem;
  border: 1.5px solid #BFE5FF;
  text-indent:20px;
}

.regi_ID::placeholder
{
  color:#B1B1B1;
}

.regi_password
{
  margin:0 0 1.5rem 0;
  width:300px;
  height:40px;
  font-size: 1.2rem;
  border: 1.5px solid #BFE5FF;
  text-indent:20px;
}

.regi_password::placeholder
{
  color:#B1B1B1;
}

.regi_name
{
  margin:0 0 1.5rem 0;
  width:300px;
  height:40px;
  font-size: 1.2rem;
  border: 1.5px solid #BFE5FF;
  text-indent:20px;
}

.regi_name::placeholder
{
  color:#B1B1B1;
}

.regi_age
{
  margin:0 0 1.5rem 0;
  width:300px;
  height:40px;
  font-size: 1.2rem;
  border: 1.5px solid #BFE5FF;
  text-indent:20px;
}

.regi_age::placeholder
{
  color:#B1B1B1;
}

.regi_line{
  width: 85%;
  margin: 7rem 0 1rem 0;
  border-top: 2px solid #E6E6E6;
  display: inline-block;
}

.regi_btn
{
  font-family: 'Montserrat';
  color : white;
  font-size: 19px;
  border : 0px;
  background-color: #18A0FB;
  border-radius: 6px;
  text-align: center;
  width: 270px;
  height: 45px;
  line-height : 45px;
  display: inline-block;
}

.regi_btn:hover
{
  cursor: pointer;
}
