.main-naviagation{
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 1.75rem 0 0 1.75rem;
  border-left: 1px solid rgb(187, 187, 187);
}

.main-naviagation header{
  height: 3.75rem;
  font-size: 2.75rem;
  font-weight: 700;
  margin: 35px 35px 0 35px;
  padding: 20px 0 0 10px;
  font-size: 2.5rem;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.main-naviagation main{
  height: 80%;
  padding: 0 50px;
}
.main-naviagation main .st{
  /* border-bottom: 1px solid rgb(187, 187, 187); */
  margin: 30px 0 15px 0;
  font-size: 16px;
  font-weight: 670;
  color: rgb(135, 135, 135);
}

.main-naviagation .item{
  font-size: 22px;
  font-weight: 600;
  padding: 5px 0;
  display: flex;
  align-items: baseline;
  transition: transfrom 0.3s ease 0s;
  text-decoration: none;
  color: black;
}

.item:hover{
  cursor: pointer;
  /* border-bottom: 0.5px solid #1294F2; */
  transform:  translateY(-3px);
}

.main-naviagation .item img{ 
  width: 17px;
  margin-right: 20px;
  padding-top: 10px;
}

.main-naviagation footer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(187, 187, 187);
  height: 10%;
  font-weight: 400;
}

.main-naviagation footer span{
  font-size: 25px;
  margin: -9px 45px 0;
}

.logout-button{
  transition: transfrom 0.3s ease 0s;
}

.logout-button:hover{
  transform:  translateY(-5px);
}

.nav{
  position: absolute;
  top: 5%;
  right: 3%;
  height: 40px;
  width: 55px;
}

.navigation-img:hover{
  cursor: pointer;
}

.navigation-img{
  width: 55px;
  height: 35px;
}
.hidden-navigation-background{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
.hidden-naviagation{
  float: right;
  width: 300px;
  height: 100%;
}