.main-naviagation{
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 1.75rem 0 0 1.75rem;
  border-left: 1px solid rgb(187, 187, 187);
}

.main-naviagation header{
  height: 3.75rem;
  font-size: 2.75rem;
  font-weight: 500;
  margin: 35px;
  padding: 20px 0 0 10px;
  font-size: 2.5rem;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.main-naviagation main{
  height: 73%;
}

.main-naviagation footer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(187, 187, 187);
  height: 10%;
  font-weight: 400;
}

.main-naviagation footer span{
  font-size: 25px;
  margin: -9px 45px 0;
}